<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-no-customizer">
<head th:replace="~{layout/layout :: head}"></head>
<body>
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">
        <nav th:replace="~{layout/layout :: navbar}"></nav>
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <aside th:replace="~{layout/layout :: menu}"></aside>
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="app-chat card overflow-hidden">
                        <div class="row g-0">
                            <!-- Chats -->
                            <div class="col app-chat-contacts app-sidebar flex-grow-0 overflow-hidden border-end"
                                    id="app-chat-contacts">
                                <div class="sidebar-header">
                                    <div class="d-flex align-items-center me-3 me-lg-0">
                                        <div
                                                class="flex-shrink-0 avatar avatar-online me-3"
                                                data-bs-toggle="sidebar"
                                                data-overlay="app-overlay-ex"
                                                data-target="#app-chat-sidebar-left"
                                        >
                                            <img
                                                    class="user-avatar rounded-circle cursor-pointer"
                                                    src="../../assets/img/avatars/1.png"
                                                    alt="Avatar"
                                                    id="chairman-avatar"
                                            />
                                        </div>
                                        <div class="flex-grow-1 input-group input-group-merge rounded-pill">
                                            <span class="input-group-text" id="basic-addon-search31"><i class="ti ti-search"></i></span>
                                            <input
                                                    type="text"
                                                    class="form-control chat-search-input"
                                                    placeholder="Пошук..."
                                                    aria-label="Search..."
                                                    aria-describedby="basic-addon-search31"
                                            />
                                        </div>
                                    </div>
                                    <i
                                            class="ti ti-x cursor-pointer d-lg-none d-block position-absolute mt-2 me-1 top-0 end-0"
                                            data-overlay
                                            data-bs-toggle="sidebar"
                                            data-target="#app-chat-contacts"
                                    ></i>
                                </div>
                                <hr class="container-m-nx m-0" />
                                <div class="sidebar-body">
                                    <ul class="list-unstyled chat-contact-list" id="chat-list">
                                    </ul>
                                </div>
                            </div>
                            <!-- /Chats -->

                            <!-- Chat History -->
                            <div class="col app-chat-history bg-body">
                                <div class="chat-history-wrapper">
                                </div>
                            </div>
                            <!-- /Chat History -->

                            <div class="app-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>
<script th:src="@{/assets/vendor/libs/typeahead-js/typeahead.js}"></script>
<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
<script th:src="@{/assets/vendor/libs/toastr/toastr.js}"></script>
<script th:src="@{/assets/vendor/libs/autosize/autosize.js}"></script>
<script th:src="@{/assets/vendor/libs/cleavejs/cleave.js}"></script>
<script th:src="@{/assets/vendor/libs/moment/moment.js}"></script>
<script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
<script th:src="@{/assets/vendor/libs/block-ui/block-ui.js}"></script>
<script th:src="@{/assets/vendor/libs/quill/katex.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/uk.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/uk.js"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xlsx-js-style@1.2.0/dist/xlsx.min.js"></script>
<script th:src="@{/assets/vendor/libs/quill/quill.js}"></script>
<script th:src="@{/assets/vendor/libs/chartjs/chartjs.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->
<script th:src="@{/assets/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/pages/layout/layout.js}"></script>
<script th:src="@{/pages/general/validation.js}"></script>
<script th:src="@{/pages/general/custom-block-ui.js}"></script>
<script th:src="@{/pages/chat/chat.js}"></script>

<script th:inline="javascript">
    const authenticatedAvatar = [[${#authentication.principal.avatar}]];
    const authenticatedId = [[${#authentication.principal.id}]];
</script>
</html>