<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Заявки</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between mb-3">
        <h3 class="mb-0">Заявки на реєстрацію</h3>
        <button type="button" class="btn btn-label-danger me-2" id="delete-button">
            <i class="ti ti-trash me-1"></i>
            Видалити
        </button>
    </div>
    <div class="d-flex justify-content-end" style="border-style: solid; border-width: thin; border-color: #dbdade #dbdade white #dbdade">
        <button type="button" class="btn btn-outline-secondary m-1" id="clear-filters">
            Очистити
        </button>
    </div>
    <div class="table-responsive" id="dropdownParent">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="table-primary text-center">
                <th><input class="form-check-input" type="checkbox" value="" id="mainCheck"></th>
                <th>#</th>
                <th>ПІБ</th>
                <th>Email</th>
                <th>Статус</th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="search" id="filter-by-fullName" class="form-control">
                </td>
                <td>
                    <input type="search" id="filter-by-email" class="form-control">
                </td>
                <td>
                    <select id="filter-by-status" class="form-control"></select>
                </td>
                <td></td>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between mt-4">
        <div class="d-flex justify-content-start align-items-center" id="paginationElements"></div>
        <ul class="pagination justify-content-end"></ul>
    </div>
</div>
</body>
<script layout:fragment="script" th:src="@{/pages/registrationRequest/registration-requests.js}"></script>
</html>