<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Зворотній зв'язок</title>
</head>
<body>
<div layout:fragment="content">
    <form enctype="multipart/form-data" id="form" class="row g-5">
        <div class="col-md-6">
            <label for="subject" class="form-label">Тема повідомлення</label>
            <input type="text" class="form-control" id="subject" name="subject"
                   placeholder="Тема повідомлення" maxlength="100">
        </div>
        <div class="col-md-6">
            <label for="chairmanId" class="form-label">Голова будинку</label>
            <select class="form-control" id="chairmanId" name="chairmanId"></select>
        </div>
        <div class="col-md-12">
            <label for="text" class="form-label">Текст повідомлення</label>
            <textarea class="form-control" id="text" name="text" rows="5"
                      placeholder="Текст повідомлення" maxlength="500"></textarea>
        </div>
        <div class="mt-5 d-flex justify-content-end gap-3">
            <a href="../messages" type="button" class="btn btn-secondary" id="cancel-button">Відмінити</a>
            <button type="button" class="btn btn-primary" id="save-button">Зберегти</button>
        </div>
    </form>
</div>
</body>
<script layout:fragment="script" th:src="@{/pages/messages/create-message.js}"></script>
</html>