<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Користувачі</title>
</head>
<body>
<div layout:fragment="content">
    <form enctype="multipart/form-data" id="form" class="row g-5">
        <div class="col-md-3">
            <img  src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
                  style="width:200px; height:200px;"
                  class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img"
                  id="avatar-img">
            <input type="file" accept=".jpeg, .jpg, .png" class="form-control d-none"  id="avatar" name="avatar">
            <label class="input-group-text col-form-label mt-3" for="avatar">Завантажити</label>
            <div class="text-danger" id="avatarValidation"></div>
        </div>
        <div class="col-md-3">
            <div>
                <label for="lastName" class="form-label">Прізвище</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Прізвище"
                       maxlength="50">
            </div>
            <div>
                <label for="firstName" class="form-label mt-3">Ім'я</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ім'я"
                       maxlength="50">
            </div>
            <div>
                <label for="middleName" class="form-label mt-3">По батькові</label>
                <input type="text" class="form-control" id="middleName" name="middleName" placeholder="По батькові"
                       maxlength="50">
            </div>
            <div>
                <label for="phoneNumber" class="form-label mt-3">Номер телефону</label>
                <input type="text" class="form-control phoneNumber" id="phoneNumber" name="phoneNumber"
                       placeholder="+380994445566" maxlength="13">
            </div>
            <div>
                <label for="email" class="form-label mt-3">Email</label>
                <input type="text" class="form-control" id="email" name="email"
                       placeholder="email@gmail.com" maxlength="100">
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label for="city" class="form-label">Місто</label>
                <select class="form-select" id="city" name="city"></select>
            </div>
            <div class="mt-3">
                <label for="street" class="form-label">Вулиця</label>
                <select class="form-select" id="street" name="street" disabled></select>
            </div>
            <div class="mt-3">
                <label for="number" class="form-label">Номер будинку</label>
                <select class="form-select" id="number" name="number" disabled></select>
            </div>
            <div class="mt-3">
                <label for="personalAccount" class="form-label">Особистий рахунок</label>
                <input type="text" class="form-control personalAccount" id="personalAccount" name="personalAccount"
                       placeholder="1111-1111-1111-1111" maxlength="20">
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label for="status" class="form-label">Місто</label>
                <select class="form-select" id="status" name="status"></select>
            </div>
            <div>
                <label for="apartmentNumber" class="form-label mt-3">Номер квартири</label>
                <input type="number" class="form-control" id="apartmentNumber" name="apartmentNumber"
                       placeholder="Номер квартири">
            </div>
            <div>
                <label for="area" class="form-label mt-3">Площа квартири, кв.м.</label>
                <input type="number" class="form-control phoneNumber" id="area" name="area"
                       placeholder="Площа квартири, кв.м.">
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="py-2" style="border-bottom-style: solid; border-bottom-color: #dbdade;">
                <h5 class="mb-0">Дані для входу</h5>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <label for="username" class="form-label">Логін</label>
            <input type="text" class="form-control" id="username" name="username"
                   placeholder="Логін" maxlength="100">
        </div>
        <div class="col-md-4 form-password-toggle mt-3">
            <label for="password" class="form-label">Пароль</label>
            <div class="input-group input-group-merge">
                <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="password"
                        placeholder="Пароль"
                        aria-describedby="password"
                        maxlength="100"
                >
                <button type="button" class="btn btn-secondary" id="generatePassword">
                    Згенерувати
                </button>
                <span class="input-group-text cursor-pointer">
                    <i class="ti ti-eye-off"></i>
                </span>
            </div>
        </div>
        <div class="col-md-4 form-password-toggle mt-3">
            <label for="confirmPassword" class="form-label">Повторити пароль</label>
            <div class="input-group input-group-merge">
                <input
                        type="password"
                        id="confirmPassword"
                        class="form-control"
                        name="confirmPassword"
                        placeholder="Повторити пароль"
                        aria-describedby="password"
                        maxlength="100"
                >
                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
            </div>
        </div>

        <div class="mt-5 d-flex justify-content-end gap-3">
            <a href="../../users" type="button" class="btn btn-secondary" id="cancel-button">Відмінити</a>
            <button type="button" class="btn btn-primary" id="save-button">Зберегти</button>
        </div>
    </form>
</div>
</body>
<script layout:fragment="script" th:src="@{/pages/users/edit-user.js}"></script>
</html>